:root {
  --dropdown-boxShadow-color: rgba(0, 0, 0, 0.1); /* default for light mode */
}

:root[data-theme="light"] {
  --dropdown-bg: #ffffff;
  --option-selected-bg: #f2f4ff;
  --option-hover-bg: hsl(233, 41%, 98%);
  --text-light: #666666;
  --border: #ccc;
  --dropdown-boxShadow-color: rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
  --dropdown-bg: #2a2a2a;
  --option-selected-bg: #3b3f52; /* deep desaturated indigo */
  --option-hover-bg: #3a3a3a;
  --text-light: #aaa;
  --border: #444;
  --dropdown-boxShadow-color: rgba(0, 0, 0, 0.4);
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 4px;
  box-shadow: var(--dropdown-boxShadow-color) 0px 4px 12px;
  background-color: var(--dropdown-bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 8px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-sizing: border-box;
}

.option {
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: var(--option-hover-bg);
  }
}

.option_selected {
  background-color: var(--option-selected-bg);
  color: #7c85c8;
}

.placeholder {
  color: var(--text-light);
  font-size: 14px;
}
